body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* File: font.css */
@font-face {
  font-family: 'SFProRoundedBold';
  src: local('SFProRoundedBold'),
       url('./fonts/SF-Pro-Rounded-Bold.otf') format('opentype')
}

@font-face {
  font-family: 'SFProRoundedRegular';
  src: local('SFProRoundedRegular'),
       url('./fonts/SF-Pro-Rounded-Regular.otf') format('opentype'),
}

@font-face {
  font-family: 'SFProRoundedSemibold';
  src: local('SFProRoundedSemibold'),
       url('./fonts/SF-Pro-Rounded-Semibold.otf') format('opentype'),
}